* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid red;
    width: 700px;

}

.sub-cards {
    display: flex;
}

.result {
    background-color: hsl(241, 81%, 54%);
    width: 400px;
}

.summary {
    width: 400px;
    height: 300px;
}

.resultCircle {
    background-color:  hsla(256, 72%, 46%, 1);
    text-align: center;
    border-radius: 50%;
}










.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }