* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(216, 12%, 8%);
    color: #fff;
}

.container {
    display: flex;
    
    justify-content: center;
    height: 100vh;
    align-items: center;
}

img {
    width: 25px;
    margin: 20px;
    position: relative;
    bottom: 30px;
    left: 22px;
}

.info {
    width: 320px;
   
    position: relative;
    left: 38px;
}

.info p {
    margin-top: 15px;
}


.numbers {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 2rem;
}

.num {
    background-color: hsl(217, 12%, 63%);
    width:50px;
    height: 50px;
    border-radius: 200px;
    border: none;
    cursor: pointer;
}

.num:hover {
    background-color: hsl(25, 97%, 53%);
}

.clicked {
    background-color: #fff;
}


.circle {
    background-color: hsl(217, 12%, 63%);
    width: 50px;
    height: 50px;
    border-radius: 200px;
    position: relative;
    left: 30px;
    top: 28px;
}

.card {
    width: 400px;
    height: 400px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 30px;
}

h3 {
    font-size: 29px;
}
.submit {
    /* margin-top: 30px;
    padding: 50px;
    width: 250px;
    height: 20px;
    position: relative; */
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2rem;
}

#button6 {
    width: 350px;
    height: 50px;
    border: none;
    background-color: hsl(25, 97%, 53%);
    border-radius: 25px;
}

#button6:hover {
    background-color: #fff;
    cursor: pointer;
}


/* must be implemented in js */
.hide-page {
    display: none;
}

/*for second page */
#thank-you {
    width: 200px;
    position: relative;
    left: 4rem;
    top: 1rem;
}

.second-page {
    display: none;
}
.choice-result {
    display: inline;
}

.result {
    color: hsl(25, 97%, 53%);
    text-align: center;
    margin-top: 40px;
}

.result {
    background-color: hsl(213, 19%, 18%);
    padding: 3px;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    left: 7rem;
    bottom: 2rem;
}

.warning {
    background-color: red;
    transition: 0.2s ease;
}
.thank-you {
    text-align: center;
   
    max-width: 330px;
    height: 120px;
    position: relative;
    left: 2rem;
}

.thank-you p {
    margin-top: 10px;
    line-height: 22px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }