body {
    background-image:url('../images/pattern-background-desktop.svg');
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 500;

}

.red-hat-display-font {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.card img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card {
    background-color: white;
    position: relative;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    width: 400px;
    height: 650px;
    border-radius: 15px;
}



.price img {
    width: 50px;
    display: block;
    position: absolute;
    margin-left: 20px;
    margin-top: 25px;
}


.price {
    background-color: hsl(225, 100%, 98%);
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

button {
    display: block;
    margin: auto;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    padding: 15px;
    width: 70%
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}